 <div class="container  my-5 bg-main-light">
    <h2>shop cart: </h2>
    <p class="text-main m-3"> total cart price :7335 EGP </p>
    <div class="row">
        <div class="col-md-1">
          <img src="https://ecommerce.routemisr.com/Route-Academy-products/1680403266739-cover.jpeg" alt="" class="w-100">
        </div>
        <div class="col-md-11">
            <div class="d-flex justify-content-between">
                <h4>name</h4>
                <p class="text-main">price: 44 EGP</p>
                <button class="btn bg-main text-white  my-3"><i class="fa-solid fa-trash-can" ></i> remove </button>
            </div>
            <div>
             <button class="btn main-border ">-</button>
             <span class="mx-2">1</span>
             <button class="btn  main-border">+</button>
            </div>
        </div>
    </div>
 </div>
