<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/freshcart-logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" >categories</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">brands</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">product</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
        
  
            <li class="nav-item">
              <a class="nav-link" href="#">wishlist<i class="fa-regular fa-heart"></i></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">cart</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">logOut</a>
            </li>
          </ul>
  
      </div>
    </div>
  </nav>

