<section>
   <div class="container my-4 d-flex justify-content-center ">
       <div class="row">

        <h1 class="text-center  text-main  my-2">Forget password</h1>
 
        @if(step == 1){

            
        <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow py-5" (ngSubmit)="verfiyEmailSubmit()" >
            <div>
                <label for="email">Email</label>
                <input type="email"  id="email" class="form-control  w-100 " formControlName="email">
            </div>
            <alertError [formName]="verifyEmail" controlName="email"/>
            <button class="btn bg-main w-25 text-white my-4" [disabled]="verifyEmail.invalid">Verify Email</button>
        </form>

        }@else if (step ==2) {
            <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow py-5" (ngSubmit)="verfiyCodeSubmit()" >
                <div>
                    <label for="resetCode">resetCode</label>
                    <input type="text"  id="resetCode" class="form-control  w-100 " formControlName="resetCode">
                </div>
    
                <button class="btn bg-main w-25 text-white my-4" [disabled]="verifyCode.invalid">Verify code</button>
            </form>
        }@else if(step ==3){
            
        <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow py-5"  (ngSubmit)="resetPasswordSubmit()">
            <div>
                <label for="email">Email</label>
                <input type="email"  id="email" class="form-control  w-100 " formControlName="email">
            </div>
            <alertError [formName]="resetPassword" controlName="email"/>


            <div>
                <label for="password">password</label>
                <input type="password"  id="password" class="form-control  w-100 " formControlName="newPassword">
            </div>
            <alertError [formName]="resetPassword" controlName="newPassword"/>




            <button class="btn bg-main w-25 text-white my-4" [disabled]="resetPassword.invalid">Reset PASSWORD </button>
        </form>
   
        }

     

 
   
   

       </div>
   </div>
</section>
