
 @if (formName.get(controlName) ?.errors && formName.get(controlName) ?.touched) {
    <div class="alert alert-danger">
        <ul class=" m-0">
            @if (formName.get(controlName)?.getError('required')) {
                <li>input is required </li>
            }
            @if (formName.get(controlName)?.getError('minlength')) {
                <li>Name Should be more than or equal  3 chars </li>

            }
            @if (formName.get(controlName)?.getError('maxlength')) {
            <li>Name Should be less than or equal  20 chars</li>
            }

            @if (formName.get(controlName)?.getError('email')) {
                <li>Enter Valid Email 
                </li>
    
            }

            @if (formName.get(controlName)?.getError('pattern')) {
                <li>Not Match  </li>
    
            }
        
            @if (formName.get(controlName)?.getError('newPassword')) {
                <li>Enter New Password </li>
    
            }
       
            
          </ul>
      </div>
 }@else if(formName.getError('mismatch') && formName.get(controlName) ?.touched &&controlName == "rePassword" ){
    <div class="alert alert-danger">
        <ul class=" m-0">
                <li>Password confirmation should match </li>
          </ul>
      </div>


    }
